<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <title>Juego Numero Genial</title>
</head>
<body>
  <h1>Welcome to the Great Number Game!!!</h1>
  <p class="introducion">I am thinking of a number between 1 and 100</p>
  {% block cantidadIntentos%}
    <p>number of attempts: {{cantIntentos}}</p>
  {% endblock %}
  {% block advertencia%}{% endblock %}
  {% block panelWinner%}
    <div class="guess">
      <div class="cont_letra">
        <p class="letraGuess">Take a guess!</p>
      </div>
      <form action="/guess" method="post">
        <input type="number" min="1" max="100" name="num_ingresado" class="inputGuess">
        <div class="cont_btn">
          <button type="submit" class="btnGuess">Guess</button>
        </div>
      </form>
    </div>
  {% endblock %}
</body>
</html>